body{
    margin:0;
    font-family: Comic Sans MS !important;
    background-color: #f6f3ce !important;

}

a{
    color: inherit !important;
    text-decoration: none !important;
    display: inline-block;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 