$main-bg-color: #fff4c2;
$header-bg-color: rgba(145, 100, 79, 0.795);
$card-bg-color: #9c6137;
$shadow-color: #493737;
$footer-bg-color: #683c1d;

$shadow-lg: 10px 8px 20px $shadow-color; // برای سایه بزرگ
$shadow-lg-different-color: 10px 8px 20px #5c4949;
$shadow-md: 12px 8px 20px $shadow-color; // برای سایه متوسط
$shadow-sm: 10px 6px 20px $shadow-color;
