@keyframes shadow-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: Comic Sans MS !important;
  background-color: #f6f3ce !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  display: inline-block;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  background-color: rgba(145, 100, 79, 0.795);
  color: shadow-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 95%;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .header {
    background-color: rgba(145, 100, 79, 0.795);
  }
}

.navbar {
  width: 100%;
}
.navbar .navbar-collapse {
  justify-content: center;
}
.navbar .navbar-toggler {
  border: none;
}
@media (max-width: 992px) {
  .navbar {
    background-color: transparent;
  }
}

.navbar-brand {
  margin-right: auto;
  font-family: French Script MT;
  font-weight: bold;
  font-size: 25px !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
}
.dropdown-menu {
  background-color: rgba(255, 244, 194, 0.5333333333) !important;
}

.referrer {
  width: 95%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: linear-gradient(main-bg-color, transparent);
  margin: auto;
  position: relative;
}
.referrer__backgrund {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  border-radius: 20px 0 0 0;
  background-color: lightcoral;
  overflow: hidden;
  filter: blur(4px);
}
.referrer__poster {
  position: absolute;
  left: 12%;
  bottom: 80px;
  border-radius: 50% 50% 2% 2%;
  width: 30%;
  height: 580px;
  overflow: hidden;
  z-index: 1;
  filter: drop-shadow(10px 8px 15px #493737);
}
.referrer__poster img {
  width: 100%;
  height: 580px;
}
.referrer__poster__shadow {
  position: absolute;
  left: 12%;
  bottom: 80px;
  border-radius: 50% 50% 2% 2%;
  background-color: rgba(166, 109, 53, 0.2117647059);
  width: 30%;
  height: 580px;
  overflow: hidden;
  z-index: 1;
  animation: shadow-animation 4s ease-in-out infinite;
}
.referrer__poster__shadow:hover {
  transform: scale(1.1);
}
.referrer__card__text {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9c6137;
  border-radius: 10px;
  box-shadow: 12px 8px 20px #493737;
}
.referrer__card__text__2 {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
  background-color: rgba(204, 153, 102, 0.8392156863);
  z-index: 1;
  border-radius: 10px;
}
.referrer__card__text__3 {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  background-color: rgba(255, 220, 151, 0.7843137255);
  z-index: 1;
  border-radius: 10px;
}
.referrer__card__text__4 {
  position: absolute;
  width: 40%;
  height: 250px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 244, 194, 0.7450980392);
  z-index: 1;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  padding: 5rem 1rem;
  overflow: hidden;
  color: #493737;
}
.referrer__tage {
  position: absolute;
  width: 20%;
  height: 50px;
  left: 79%;
  top: 38.05%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to left, rgba(156, 97, 55, 0.6509803922), transparent);
  z-index: 1;
  font-family: French Script MT;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  padding: 0 1rem;
  border-radius: 9px;
  color: #493737;
}

.subject {
  margin: 10px auto;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, transparent, #cc9966, transparent);
  color: #493535;
  border-radius: 3px;
  text-shadow: 10px 8px 15px #493535;
  font-family: French Script MT;
}
.subject h1 {
  font-weight: bold !important;
}

.list-product {
  margin: 30px auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-product__card {
  width: 13.5%;
  height: 190px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 6px 20px #493737;
  position: relative;
  transition: 0.5s;
}
.list-product__card:hover {
  transform: scale(1.1);
}
.list-product__card:hover .list-product__card__name {
  opacity: 1;
  transform: translateY(0);
}
.list-product__card:hover .list-product__card__overly {
  opacity: 1;
  transform: translateY(0);
}
.list-product__card__image {
  height: 200px;
  position: absolute;
  top: 0;
}
.list-product__card__name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  color: #f6f3ce;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}
.list-product__card__overly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(transparent, transparent, rgba(52, 43, 32, 0.824));
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100%);
}

.wrapper {
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: #9c6137;
  margin: 60px auto;
  border-radius: 15% 50% 10px 10px;
  position: relative;
  filter: drop-shadow(10px 8px 20px #493737);
}
.wrapper__shadow {
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: rgba(204, 153, 102, 0.8392156863);
  margin: 70px auto;
  border-radius: 15% 50% 10px 10px;
  position: absolute;
  transform: rotate(-5deg);
  z-index: 1;
  left: 5%;
  top: 145%;
}
.wrapper__poster {
  position: absolute;
  left: 3%;
  top: 151%;
  border-radius: 50% 50% 2% 2%;
  width: 22%;
  height: 470px;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.wrapper__poster:hover {
  transform: scale(1.1);
}
.wrapper__poster:hover .wrapper__poster__name {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster:hover .wrapper__poster__overly {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster__image {
  width: 100%;
  height: 470px;
  position: absolute;
  top: 0;
}
.wrapper__poster__name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  color: #f6f3ce;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__poster__overly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(46, 38, 28, 0.824));
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__poster__2 {
  position: absolute;
  left: 75%;
  top: 192%;
  border-radius: 50% 50% 2% 2%;
  width: 22%;
  height: 470px;
  overflow: hidden;
  z-index: 1;
  filter: drop-shadow(10px 8px 20px #5c4949);
  transition: 0.5s;
}
.wrapper__poster__2:hover {
  transform: scale(1.1);
}
.wrapper__poster__2:hover .wrapper__poster__2__name {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster__2:hover .wrapper__poster__2__overly {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster__2__image {
  width: 100%;
  height: 470px;
  position: absolute;
  top: 0;
}
.wrapper__poster__2__name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  color: #f6f3ce;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__poster__2__overly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(46, 38, 28, 0.824));
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__text__box {
  width: 36%;
  height: 250px;
  left: 35%;
  top: 180%;
  position: absolute;
  background: linear-gradient(transparent, #d3a16c, transparent);
  z-index: 1;
  padding: 1rem;
  color: #493737;
  text-align: center;
}

.footer {
  width: 95%;
  height: 280px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-evenly;
  background-color: #683c1d;
  color: #fff4c2;
  margin: auto;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  padding: 1rem;
}
.footer ul {
  list-style-type: none;
}

.brand {
  width: 94%;
  height: 600px;
  margin: auto;
  display: flex;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}
.brand__card {
  width: 23%;
  height: 550px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.brand__card__image {
  width: 100%;
  height: 350px;
  position: absolute;
  border: 2px solid #9c6137;
  border-radius: 50%;
  padding: 0.25rem;
}
.brand__card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.brand__card__text {
  width: 100%;
  height: 370px;
  z-index: 1;
  background-color: #f6f3ce;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 0;
  color: #493737;
}
.brand__card__text span {
  font-weight: bold !important;
}
.brand__card__text a {
  font-weight: bold !important;
  padding: 0.25rem 0.5rem;
  border: 2px solid;
  border-radius: 10px;
}/*# sourceMappingURL=min.css.map */