body {
  margin: 0;
  font-family: Comic Sans MS !important;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  background-color: rgba(145, 100, 79, 0.795);
  color: #493737;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 95%;
  border-radius: 10px;
  box-shadow: 4px 7px 22px #423237;
}
@media (max-width: 992px) {
  .header {
    background-color: rgba(185, 185, 185, 0.356);
  }
}

.navbar {
  width: 100%;
}
.navbar .navbar-collapse {
  justify-content: center;
}
.navbar .navbar-toggler {
  border: none;
}
@media (max-width: 992px) {
  .navbar {
    background-color: transparent;
  }
}

.navbar-brand {
  margin-right: auto;
  font-family: French Script MT;
  font-weight: bold;
  font-size: 25px !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
}
.dropdown-menu {
  background-color: rgba(255, 244, 194, 0.5333333333) !important;
}

.referrer {
  width: 95%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #FFFDDD;
  margin: auto;
  position: relative;
}
.referrer__backgrund {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  border-radius: 20px 0 0 0;
  background-color: lightcoral;
  overflow: hidden;
  filter: blur(4px);
}
.referrer__poster {
  position: absolute;
  left: 12%;
  bottom: 80px;
  border-radius: 50% 50% 2% 2%;
  width: 30%;
  height: 580px;
  overflow: hidden;
  z-index: 1;
  filter: drop-shadow(10px 8px 15px #493737);
}
.referrer__poster__shadow {
  position: absolute;
  left: 12%;
  bottom: 80px;
  border-radius: 50% 50% 2% 2%;
  background-color: rgba(166, 109, 53, 0.2156862745);
  width: 30%;
  height: 580px;
  overflow: hidden;
  z-index: 1;
}
.referrer__card__text {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9c6137;
  border-radius: 10px;
  box-shadow: 12px 8px 20px #493737;
}
.referrer__card__text__2 {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
  background-color: rgba(204, 153, 102, 0.8392156863);
  z-index: 1;
  border-radius: 10px;
}
.referrer__card__text__3 {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  background-color: rgba(255, 220, 151, 0.7843137255);
  z-index: 1;
  border-radius: 10px;
}
.referrer__card__text__4 {
  position: absolute;
  width: 40%;
  height: 250px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 244, 194, 0.7450980392);
  z-index: 1;
  border-radius: 10px;
  color: #9c6137;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  padding: 5rem 1rem;
  overflow: hidden;
}
.referrer__tage {
  position: absolute;
  width: 20%;
  height: 50px;
  left: 79%;
  top: 38.05%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to left, rgba(156, 97, 55, 0.6509803922), transparent);
  z-index: 1;
  color: #fff4c2;
  font-family: French Script MT;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  padding: 0 1rem;
  border-radius: 9px;
}

.cont {
  margin: 10px auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=min.css.map */