@charset "UTF-8";
@keyframes shadow-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes moveImage1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveImage2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveImage3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translate(0);
  }
}
body {
  margin: 0;
  font-family: Comic Sans MS !important;
  background-color: #fff4c2 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  display: inline-block;
}

* {
  box-sizing: border-box !important;
  scroll-behavior: smooth;
}

.header {
  background-color: rgba(145, 100, 79, 0.795);
  color: shadow-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 95%;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .header {
    background-color: rgba(145, 100, 79, 0.795);
  }
}

.navbar {
  width: 100%;
}
.navbar .navbar-collapse {
  justify-content: center;
}
.navbar .navbar-toggler {
  border: none;
}
@media (max-width: 992px) {
  .navbar {
    background-color: transparent;
  }
}

.navbar-brand {
  margin-right: auto;
  font-family: "French Script MT";
  font-weight: bold;
  font-size: 25px !important;
}

.nav-link {
  transition: transform 0.5s ease-out !important; /* انیمیشن برای لینک‌ها */
}
.nav-link:hover {
  transform: scale(1.1); /* بزرگ شدن هنگام هاور */
}

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
}
.dropdown-menu {
  background-color: rgba(255, 244, 194, 0.5333333333) !important;
}
.dropdown-menu .dropdown-item {
  transition: transform 0.5s ease; /* انیمیشن برای آیتم‌ها */
}
.dropdown-menu .dropdown-item:hover {
  transform: scale(1.1); /* بزرگ شدن هنگام هاور */
  background-color: rgba(255, 244, 194, 0.5333333333);
  border-radius: 4px;
}

.referrer {
  width: 95%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: linear-gradient(main-bg-color, transparent);
  margin: auto;
  position: relative;
}
.referrer__backgrund {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  border-radius: 20px 0 0 0;
  background-color: lightcoral;
  overflow: hidden;
  filter: blur(4px);
}
.referrer__poster {
  position: absolute;
  left: 12%;
  bottom: 80px;
  border-radius: 50% 50% 2% 2%;
  width: 30%;
  height: 580px;
  overflow: hidden;
  z-index: 1;
  filter: drop-shadow(10px 8px 15px #493737);
}
.referrer__poster img {
  width: 100%;
  height: 580px;
}
.referrer__poster__shadow {
  position: absolute;
  left: 12%;
  bottom: 80px;
  border-radius: 50% 50% 2% 2%;
  background-color: rgba(166, 109, 53, 0.2117647059);
  width: 30%;
  height: 580px;
  overflow: hidden;
  z-index: 1;
  animation: shadow-animation 4s ease-in-out infinite;
}
.referrer__poster__shadow:hover {
  transform: scale(1.1);
}
.referrer__card__text {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9c6137;
  border-radius: 10px;
  box-shadow: 12px 8px 20px #493737;
}
.referrer__card__text__2 {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
  background-color: rgba(204, 153, 102, 0.8392156863);
  z-index: 1;
  border-radius: 10px;
}
.referrer__card__text__3 {
  position: absolute;
  width: 50%;
  height: 270px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  background-color: rgba(255, 220, 151, 0.7843137255);
  z-index: 1;
  border-radius: 10px;
}
.referrer__card__text__4 {
  position: absolute;
  width: 40%;
  height: 250px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 244, 194, 0.7450980392);
  z-index: 1;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  padding: 5rem 1rem;
  overflow: hidden;
  color: #493737;
}
.referrer__tage {
  position: absolute;
  width: 20%;
  height: 50px;
  left: 79%;
  top: 38.05%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to left, rgba(156, 97, 55, 0.6509803922), transparent);
  z-index: 1;
  font-family: French Script MT;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  padding: 0 1rem;
  border-radius: 9px;
  color: #493737;
}

.subject {
  margin: 10px auto;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, transparent, #cc9966, transparent);
  color: #493535;
  border-radius: 3px;
  text-shadow: 10px 8px 15px #493535;
  font-family: French Script MT;
}
.subject h1 {
  font-weight: bold !important;
}

.list-product {
  margin: 30px auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-product__card {
  width: 13.5%;
  height: 190px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 6px 20px #493737;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}
.list-product__card:hover {
  transform: scale(1.1);
}
.list-product__card:hover .list-product__card__name {
  opacity: 1;
  transform: translateY(0);
}
.list-product__card:hover .list-product__card__overly {
  opacity: 1;
  transform: translateY(0);
}
.list-product__card__image {
  height: 200px;
  position: absolute;
  top: 0;
}
.list-product__card__name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  color: #fff4c2;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}
.list-product__card__overly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(transparent, transparent, rgba(52, 43, 32, 0.824));
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100%);
  z-index: 2;
  pointer-events: none;
}

.wrapper {
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: #9c6137;
  margin: 60px auto;
  border-radius: 15% 50% 10px 10px;
  position: relative;
  filter: drop-shadow(10px 8px 20px #493737);
}
.wrapper__shadow {
  width: 90%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: rgba(204, 153, 102, 0.8392156863);
  margin: 70px auto;
  border-radius: 15% 50% 10px 10px;
  position: absolute;
  transform: rotate(-5deg);
  z-index: 1;
  left: 5%;
  top: 145%;
}
.wrapper__poster {
  position: absolute;
  left: 3%;
  top: 151%;
  border-radius: 50% 50% 2% 2%;
  width: 22%;
  height: 470px;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.wrapper__poster:hover {
  transform: scale(1.1);
}
.wrapper__poster:hover .wrapper__poster__name {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster:hover .wrapper__poster__overly {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster__image {
  width: 100%;
  height: 470px;
  position: absolute;
  top: 0;
}
.wrapper__poster__name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  color: #fff4c2;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__poster__overly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(46, 38, 28, 0.824));
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__poster__2 {
  position: absolute;
  left: 75%;
  top: 192%;
  border-radius: 50% 50% 2% 2%;
  width: 22%;
  height: 470px;
  overflow: hidden;
  z-index: 1;
  filter: drop-shadow(10px 8px 20px #5c4949);
  transition: 0.5s;
}
.wrapper__poster__2:hover {
  transform: scale(1.1);
}
.wrapper__poster__2:hover .wrapper__poster__2__name {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster__2:hover .wrapper__poster__2__overly {
  opacity: 1;
  transform: translateY(0);
}
.wrapper__poster__2__image {
  width: 100%;
  height: 470px;
  position: absolute;
  top: 0;
}
.wrapper__poster__2__name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  color: #fff4c2;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__poster__2__overly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(46, 38, 28, 0.824));
  z-index: 1;
  transition: 0.5s;
  transform: translateY(100%);
}
.wrapper__text__box {
  width: 36%;
  height: 250px;
  left: 35%;
  top: 180%;
  position: absolute;
  background: linear-gradient(transparent, #d3a16c, transparent);
  z-index: 1;
  padding: 1rem;
  color: #493737;
  text-align: center;
}

.footer {
  width: 95%;
  height: 280px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-evenly;
  background-color: #683c1d;
  color: #fff4c2;
  margin: auto;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  padding: 1rem;
}
.footer ul {
  list-style-type: none;
}

.brand {
  width: 85%;
  height: 600px;
  margin: auto;
  display: flex;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}
.brand__card {
  width: 23%;
  height: 550px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.brand__card__image {
  width: 100%;
  height: 350px;
  border: 2px solid #9c6137;
  border-radius: 50%;
  padding: 0.25rem;
}
.brand__card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.brand__card__text {
  width: 100%;
  height: 370px;
  background-color: #fff4c2;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 0;
  color: #493737;
}
.brand__card__text span {
  font-weight: bold !important;
}
.brand__card__text a {
  font-weight: bold !important;
  padding: 0.25rem 0.5rem;
  border: 2px solid;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.brand__card__text a:hover {
  background-color: rgba(177, 166, 113, 0.7137254902);
}
.brand__card__2 {
  width: 40%;
  height: 600px;
  overflow: hidden;
  background-color: #fff4c2;
  position: relative;
}
.brand__card__2__image {
  width: 50%;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  bottom: 15rem;
  padding: 0.25rem;
  animation: moveImage1 7s ease-in-out infinite;
}
.brand__card__2__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.brand__card__2__image__2 {
  width: 40%;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  bottom: 10rem;
  padding: 0.25rem;
  overflow: hidden;
  left: 16rem;
  animation: moveImage2 7s ease-in-out infinite;
}
.brand__card__2__image__2 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.brand__card__2__image__3 {
  width: 35%;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  padding: 0.25rem;
  overflow: hidden;
  left: 20rem;
  animation: moveImage3 7s ease-in-out infinite;
}
.brand__card__2__image__3 img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.brand__card__3 {
  width: 25%;
  height: 570px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.brand__card__3__text {
  width: 100%;
  height: 335px;
  padding: 1.5rem 0.5rem;
  background-color: #fff4c2;
  color: #493737;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  text-align: left;
}
.brand__card__3__text span {
  font-weight: bold !important;
}
.brand__card__3__text p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.brand__card__3__image {
  width: 100%;
  height: 310px;
  border-radius: 50%;
  position: absolute;
  bottom: 4.6rem;
  border: 3px solid #9c6137;
  padding: 0.25rem;
}
.brand__card__3__image img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50%;
}

.productlist {
  background-color: #9c6137;
  width: 74%;
  border-radius: 10% 10% 20px 20px;
  flex-wrap: wrap;
  height: 1400px;
  margin: auto;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  position: relative;
}
.productlist__shadow {
  background-color: rgba(204, 153, 102, 0.8392156863);
  width: 100%;
  border-radius: 10% 10% 20px 20px;
  height: 1400px;
  margin: auto;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.productlist__card {
  width: 25%;
  height: 290px;
  padding: 2rem;
  border-radius: 30% 30% 15px 15px;
  margin-right: 5px;
  position: relative;
  border-right: 0;
  border-left: 0;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
  filter: drop-shadow(10px 8px 20px #493737);
  /* حالت هاور روی کارت */
}
.productlist__card__imege {
  width: 100%;
  height: 290px;
  position: absolute;
  top: 0;
  right: 0;
}
.productlist__card__imege img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(10px 8px 20px #493737);
}
.productlist__card__text {
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: -2.5rem; /* خارج از مرز برای ایجاد افکت */
  left: 0;
  background-color: rgba(204, 153, 102, 0.4784313725);
  border-radius: 2px 2px 15px 15px;
  transition: all 0.5s ease; /* برای انیمیشن */
  color: 10px 6px 20px #493737;
}
.productlist__card:hover .productlist__card__text {
  bottom: 0; /* متن از پایین به بالا حرکت کند */
  border-radius: 15px; /* تغییر border-radius به 15px */
  overflow: visible; /* نمایش کامل متن */
  background-color: rgba(255, 244, 194, 0.7921568627);
}

.about {
  background-color: #9c6137;
  width: 80%;
  border-radius: 20px;
  height: 400px;
  margin: auto;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  position: relative;
  margin-bottom: 3rem;
}
.about__shadow {
  background-color: rgba(204, 153, 102, 0.8392156863);
  width: 100%;
  border-radius: 20px;
  height: 400px;
  margin: auto;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
  padding: 2rem;
}
.about__shadow iframe {
  border-radius: 20px;
}
.about__text {
  background-color: rgba(255, 220, 151, 0.6941176471);
  width: 60%;
  border-radius: 20px;
  height: 360px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 2rem;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
}
.about__text span {
  font-weight: bold !important;
  font-size: 20px;
}
.about__text p {
  margin-top: 10px;
}
.about__card {
  background-color: rgba(204, 153, 102, 0.8392156863);
  width: 34%;
  border-radius: 20px;
  height: 360px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 2rem;
  overflow: hidden;
}
.about__card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.about__card span {
  font-size: 18px;
}/*# sourceMappingURL=min.css.map */