.list-product {
    margin: 30px auto;
    width: 95%;
    @include flex-center(space-between);

    


    &__card {
        width: 13.5%;
        height: 190px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: $shadow-sm;
        position: relative;
        transition: 0.5s;
        z-index: 1;

        &:hover {
            transform: scale(1.1);
        }

        &:hover &__name {
            opacity: 1;
            transform: translateY(0);

        }

        &:hover &__overly {
            opacity: 1;
            transform: translateY(0);

        }

        &__image {
            height: 200px;
            position: absolute;
            top: 0;
        }

        &__name {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            z-index: 2;
            color: $main-bg-color;
            opacity: 0;
            transition: 0.5s;
            transform: translateY(100%);
        }

        &__overly {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: linear-gradient(transparent, transparent, rgba(52, 43, 32, 0.824));
            z-index: 1;
            transition: 0.5s;
            transform: translateY(100%);
            z-index: 2;
            pointer-events: none;
        }

    }
}

@media (max-width: 450px){
    
    .list-product{
        width: 95%;
        margin: 30px auto;
        flex-wrap: wrap;

        &__card{
            width: 30%;
            height: 100px;
            margin-bottom: 1rem;

            &__image {
                height: 100%;
                width: 100%;
            }

        }
    }
}

@media (min-width: 450px) and (max-width:550px){
    
    .list-product{
        width: 95%;
        margin: 30px auto;
        flex-wrap: wrap;

        &__card{
            width: 31%;
            height: 100px;
            margin-bottom: 1rem;

            &__image {
                height: 100%;
                width: 100%;
            }

        }
    }
}

@media (min-width: 550px) and (max-width:650px){
    
    .list-product{
        width: 95%;
        margin: 30px auto;
        flex-wrap: wrap;

        &__card{
            width: 32%;
            height: 140px;
            margin-bottom: 1rem;

            &__image {
                height: 100%;
                width: 100%;
            }

        }
    }
}

@media (min-width: 650px) and (max-width:1450px){

    .overflow{
        overflow: scroll;
        width: 94%;
        margin: auto;
    }
    
    .list-product{
        width: 1000px;
        overflow: scroll;


        &__card{
            width: 35%;
            height: 200px;
            margin-right: 1rem;

            &__image {
                height: 100%;
                width: 100%;
            }

        }
    }
}