.subject{
    margin: 10px auto;
    width: 30%;
    @include flex-center(center);
    background: linear-gradient(to left, transparent, #cc9966, transparent);
    color: #493535;
    border-radius: 3px;
    text-shadow: (10px 8px 15px #493535);
    font-family:French Script MT;

    & h1{
        font-weight: bold !important;

    }
}