.brand{
    width: 94%;
    height: 450px;
    margin: auto;
    display: flex;
    background: linear-gradient( #9c6137eb, transparent,);
    border-radius: 2px;
    padding: 0.25rem;

    & img{
        width: 30%;
        height: 100%;
        border-radius: 5px 50% 50% 5px;
        box-shadow: 10px 12px 20px $shadow-color;
    }
}